{% extends 'base.html' %}

{% block title %}
  Login
{% endblock title %}
{% block content %}
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'create_receipt' %}">Create Receipt</a>
          </li>
          <li>
            <a href="{% url 'category_list' %}">Categories</a>
          </li>
          <li>
            <a href="{% url 'account_list' %}">Accounts</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'signup' %}">Signup</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <h1>Login</h1>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button>Login</button>
      </form>
    </div>
  </main>
{% endblock content %}
